* {
    margin: 0;
    padding: 0;
}
/*#region HELPER_CLASSES*/
.center-text {
    text-align: center;
}
.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*#endregion*/

/*#region HEADER*/
header {
    display: block;
    width: 100%;
    height: 80px;

    background-color: #355b50;
}
.header-logo {
    display: inline-block;
    float: left;

    height: 80px;
    width: 80px;
    margin-left: 20px;

    animation: rotateAnimation 3s ease infinite;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(10deg); /* Rotate clockwise by 10 degrees */
    }
    50% {
        transform: rotate(-10deg); /* Rotate counterclockwise by 10 degrees */
    }
    100% {
        transform: rotate(10deg); /* Rotate counterclockwise by 10 degrees */
    }
}
.header-text {
    display: inline-block;
    float: left;

    height: 80px;

    font-size: 40px;
    line-height: 80px;
    margin-left: 20px;

    color: white;
}
/*#endregion*/

/*#region MAIN*/
main {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 80px - 45px);

    background-color: #7CA982;

    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*#endregion*/

/*#region EVENTS*/
.events-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 20px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  /*background-color: #e0eec683;*/
  border-radius: 20px;

  padding-top: 25px;
  padding-bottom: 25px;

  padding-left: 15px;
  padding-right: 15px;
}
.navbar {
  width: 100%;
  height: 30px;
}
.navbar img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 100%;
}
.navbar button, .navbar a {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;

  background: none;
  border: none;
}
.navbar input {
  display: inline-block;
  float: right;

  height: 25px;
}
.event {
  display: block;
  width: 100%;
  height: 85px;

  background-color: #E0EEC6;
  border-radius: 10px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  transition: transform 0.3s ease;
}
.event:hover {
  transform: translateX(10px);
  cursor:pointer;
}
.event-top {
  display: block;
  width: 100%;
  height: 20px;

  line-height: 20px;
  font-size: 20px;
}
.event-top div {
  display: inline-block;
  float: left;
  width: 50%;
}
.event-top div img {
  display: inline;
  float: right;

  width: 20px;
  height: 20px;
}
.event-mid {
  display: block;
  width: 100%;
  height: 45px;

  text-align: center;
  line-height: 45px;
  font-size: 45px;

  color: rgb(201, 0, 0);
  font-weight: bold;
}
.event-bottom {
  display: block;
  width: 100%;
  height: 20px;

  line-height: 20px;
  font-size: 20px;
}
.event-bottom div {
  display: inline-block;
  float: left;
  width: 50%;
}
/*#endregion*/

/*#region FOOTER*/
footer {
    display: block;
    width: 100%;
    height: 45px;

    background-color: #C2A83E;

    color: white;
    font-weight: bold;

    text-align: center;
    line-height: 45px;
}
/*#endregion*/